# Introduction
#### The following instructions will show how to manipulate your data set to make it focus on a more niche area or a certain subject.

### 1. Type out "import pandas as pd"
### 2. Type out your name with the exact tite of the dataset you want to use.
### 3. Now you type out your name or title and in quotations you put the specific variables you wish to see in your new dataset and making sure to include the numbers of those columns.
### 4. Next it will produce the dataset you were wishing to use.

In [2]:
import pandas as pd

In [9]:
Greta=pd.read_csv("CountyHealthData_2014-2015 (1).csv")

In [12]:
Greta[["State", "Year", "County", "Adult obesity", "Food environment index"]][3244:3443]

     State      Year            County  Adult obesity  Food environment index
3244    NC  1/1/2015   Alamance County          0.332                   6.200
3245    NC  1/1/2014  Alexander County          0.272                   7.825
3246    NC  1/1/2015  Alexander County          0.283                   7.400
3247    NC  1/1/2014  Alleghany County          0.247                   7.561
3248    NC  1/1/2015  Alleghany County          0.235                   7.400
...    ...       ...               ...            ...                     ...
3438    NC  1/1/2015     Wilson County          0.373                   5.900
3439    NC  1/1/2014     Yadkin County          0.297                   8.296
3440    NC  1/1/2015     Yadkin County          0.301                   8.000
3441    NC  1/1/2014     Yancey County          0.287                   8.001
3442    NC  1/1/2015     Yancey County          0.271                   7.700

[199 rows x 5 columns]

# Exporting New Subset
### Now that we have finished creating the subset we need to export it as a .csv file. To do this you type in the following text but with your own title.

In [ ]:
Nchealthdata_subset.to_csv("Nchealthdata.csv",index=False)

# Saving Subset

### Type in what is below to save your subset but with your own title.

In [ ]:
Nchealthdata_subset=Greta[Greta["State"]=="NC"].copy()

### Now when you type in this you can use your subset whenever you want.

In [ ]:
Nchealthdata_subset